/*==================== Font ====================*/
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: InterMBold;
  src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: InterRegular;
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: NunitoSans Regular;
  src: url(../fonts/NunitoSans_10pt-Regular.ttf);
}
@font-face {
  font-family: NunitoSans Bold;
  src: url(../fonts/NunitoSans_10pt-Bold.ttf);
}
@font-face {
  font-family: NunitoSans SemiBold;
  src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
}
@font-face {
  font-family: NunitoSans ExtraBold;
  src: url(../fonts/NunitoSans_10pt-ExtraBold.ttf);
}
@font-face {
  font-family: NunitoSans Light;
  src: url(../fonts/NunitoSans_10pt-Light.ttf);
}

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Ubah Warna favorit */
  --hue-color: 173;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 76%, 28%);
  --first-color-second: hsl(var(--hue-color), 58%, 33%);
  --first-color-alt: hsl(var(--hue-color), 92%, 20%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --scroll-thumb-hover-color: hsl(var(--hue-color), 8%, 65%);

  /*========== Font and typography ==========*/
  --body-font: NunitoSans Regular;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.813rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --h5-font-size: 1rem;
    --h6-font-size: 0.938rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color) !important;
}
.login__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/bg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: 100%;
}
.panel__login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#panel-login {
  background-color: hsla(0, 0%, 0%, 0.425);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* Add prefix for Safari */
  border: 1.25px solid rgba(255, 255, 255, 0.192) !important;
}
#panel-login .card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192) !important;
}
#panel-login .logo-title {
  font-family: InterBold;
  font-size: 1.375rem;
  color: #ffffff;
}
#panel-login .logo-subtitle {
  font-size: 0.875rem;
  color: #ffffff;
}
#panel-login .txt-login {
  font-family: InterBold;
  font-size: 1.375rem;
  color: #ffffff;
}
#panel-login .txt-desc {
  font-size: 0.875rem;
  color: #ffffff;
}
#panel-login .form-control-custom {
  border-radius: 12px;
  background-color: var(--input-color);
  transition: all 0.5s ease;
}
#panel-login .card-body button {
  background-color: var(--first-color);
}
#panel-login .card-body button:hover {
  background-color: var(--first-color-alt);
}
.form-floating-custom label.label_nip::after,
.form-floating-custom label.label_pass::after {
  background-color: transparent !important;
}
.form-floating-custom .form-floating-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  width: 56px;
}
.form-floating-custom > .form-control {
  padding-left: 60px !important;
}
.form-floating-custom > label {
  left: 48px !important;
}
.form-floating-custom span.eye {
  position: absolute;
  font-size: 20px;
  right: 15px;
  display: flex;
  transform: translateY(-50%);
  top: 50%;
  transition: 0.4s ease-in-out;
}
.form-floating-custom span.eye i {
  cursor: pointer;
  color: var(--text-color-light);
}
.hidden {
  display: none !important;
}
.show {
  display: inline-block;
}

/*==================== FAQ Pages ====================*/
.navbar.shadowNavbar {
  box-shadow: 0px 4px 22px rgba(69, 69, 69, 0.08) !important;
}
.navbar .header-logo {
  display: flex;
  align-items: center;
}
.navbar .header-logo a {
  display: flex;
  align-items: center;
}
.navbar .header-logo a .brand-text {
  font-family: InterBold;
  font-size: 1.125rem;
}
.navbar .header-logo a .brand-text small {
  font-family: InterRegular;
  display: block;
  font-size: 0.625rem;
}
.navbar .nav-item .nav__notif {
  font-size: 1.375rem;
}
.navbar .nav-item .nav__notif .badge {
  font-size: 0.625rem;
  left: 10px;
  top: 0px;
  border: 2px solid #fff;
}
.navbar .nav-item .nav__notif .bell {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.navbar .nav-item .account-container.login{
  border: 0;
  width: 100%;
  height: 38px;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--small-font-size);
  padding: 6px 25px;
}
.navbar .nav-item .account-container {
  height: auto;
  padding: 4px;
  border-radius: 30px;
  background-color: var(--container-color);
  border: 1px solid var(--first-color);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.navbar .nav-item .account-container img {
  padding: 2px;
}
.navbar .nav-item .account-container .user-name {
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--title-color);
}
.custom-rounded {
  background-color: var(--container-color);
  border-radius: 8px !important;
  box-shadow: 0px 4px 22px rgb(69 69 69 / 8%) !important;
  transform: translate(0px, 11px);
}
.custom-rounded li a.dropdown-item,
.custom-rounded .noti-body .dropdown-item {
  color: var(--title-color);
  font-family: InterRegular;
  font-size: var(--small-font-size);
}
.custom-rounded li a.dropdown-item:hover,
.custom-rounded .noti-body .dropdown-item:hover {
  background-color: #f8f8f8;
  color: var(--first-color);
  font-weight: 600;
}
.custom-rounded .notify-all.dropdown-item,
.custom-rounded .notify-all.dropdown-item:hover {
  background-color: transparent;
}
.custom-rounded li .dropdown-divider {
  border-color: #f1f1f1;
}
.dropdown-menu.dropdown-menu-center {
  left: 50% !important;
  transform: translate(-58%, 11px);
}
.custom-rounded.notification {
  width: 345px;
}
.notification .dropdown-item.noti-title {
  background-color: transparent;
  padding: 15px 20px;
}
.notification .dropdown-item.noti-title h5 {
  font-size: var(--normal-font-size);
  font-weight: 700;
}
.notification .dropdown-item.noti-title h5 span {
  font-size: var(--small-font-size);
  font-weight: 500;
}
.notification .noti-body {
  max-height: 232px;
  overflow: hidden auto;
}
.notification .notify-item {
  padding: 10px 20px;
}
.notification .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #fff;
}
.notification .notify-item p.notify-details {
  font-size: var(--small-font-size);
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: normal;
}
.custom-rounded .notify-item .notify-details small {
  display: block;
}
.search-banner {
  padding: 120px 0 60px;
}
.search-banner.has-bg {
  position: relative;
  overflow: hidden;
  color: var(--title-color);
}
.search-banner.has-bg .bg-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../img/bg-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  transition: ease-in-out 0.5s;
}
.search-banner.has-bg .container {
  position: relative;
}

.search-banner h1 {
  color: #fff;
  font-family: NunitoSans ExtraBold;
  font-size: var(--h1-font-size);
  text-align: center;
  margin: 10px 0 20px;
  text-shadow: 5px 5px 15px rgb(0, 0, 0);
}
.search-banner .input-group {
  margin-bottom: 30px;
}
.search-banner .form-control {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  border: none;
  height: 46px;
  border-radius: 6px;
}
.search-banner .btn {
  background: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--text-color);
  border-radius: 6px;
}
.search-banner .btn:hover {
  color: var(--first-color);
  font-weight: 600;
}
.btn-create-ticket:link,
.btn-create-ticket:visited {
  font-weight: var(--font-semi-bold);
  color: #117C72;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 10px;
  transition: all .2s;
}
.btn-create-ticket:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}
.btn-create-ticket:active {
  transform: translateY(-3px);
}
.btn-create-ticket::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s;
}
.btn-create-ticket:hover::after {
  background-color: rgb(0, 238, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}
.about {
  background-color: #117C72;
  filter:opacity(0.7);
}

/*==================== Tracking Tiket Pages ====================*/
/* Chart */
.card-chart {
  height: 450px;
  border-radius: 10px;
  border: 1px solid #117C72;
}
.circle-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  /* border-radius: 100% */
}
.center-date {
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  top:0;left:0;bottom:0;right:0;
  width: 95px;
  height: 95px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  border: 0,5px solid black;
  -webkit-box-shadow: 0px 0px 20px 0px #117C72;
  z-index: 1;
}
p.circle-center {
  background: white;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top:0;left:0;bottom:0;right:0;
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}
.center-date span.scnd-font-color {
  line-height: 0;
}
.cut {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.data {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}
#porcionSent {
  transform: rotate(0deg);
}
#porcionSent .data {
  background-color: #6DA13E;
  transform: rotate(36deg);
}
#porcionMissed {
  transform: rotate(36deg);
}
#porcionMissed .data {
  background-color: #FBD441;
  transform: rotate(36deg);
}
#porcionUnanswered {
  transform: rotate(72deg);
}
#porcionUnanswered .data {
  background-color: #DB4747;
  transform: rotate(118deg);
}
#porcionClosed {
  transform:rotate(180deg);
}
#porcionClosed .data {
  background-color: #656464;
  transform: rotate(180deg);
}
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}
.block {
  margin: auto;
  background: none;
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
}
.ticket-percentages li {
  width: 74px;
  border-left: 1px solid none;
  text-align: center;					
            background: none;
        }
        
        .ticket {
            margin: 0;
            padding: 10px 0 5px;
            font-size: 15px;		
        }

        .ticket.sent {
            border-top: 8px solid #6DA13E;
            border-radius: 10px;
        }

        .ticket.missed {
            border-top: 8px solid #FBD441;
            border-radius: 10px;
        }

        .ticket.unanswered {
            border-top: 8px solid #DB4747;
            border-radius: 10px;
        }

        .ticket.closed {
            border-top: 8px solid #656464;
            border-radius: 10px;
        }

        .ticket-percentage {
            margin: 0;
            padding: 0 0 15px 10px;
            font-size: 25px;
        }

        h5 {
            color: #117C72;
            font-weight: bold;
        }

        roundedPanel {
            color: #117C72;
        }
.card-info {
  border-radius: 6px;
  border: 1px solid #117C72;
}
.card-info .card-header {
  height: 50px;
  background-color: #117C72;
}
.card-info .card-header:first-child{
  border-radius: 5px 5px 0 0;
}

/*==================== Tiket Pages ====================*/
.form-question .card {
  min-height: 550px;
}

.chat-conversation .chat-day-title {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  border: none;
}

.chat-conversation li {
  clear: both;
}

.chat-conversation .conversation-list {
  margin-bottom: 24px;
  position: relative;
}

.chat-conversation .conversation-list .ctext-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.chat-conversation .conversation-list .ctext-wrap-content {
  padding: 12px 20px;
  background-color: rgba(91, 115, 232, 0.1);
  border-radius: 0 8px 8px 8px;
  color: #74788d;
  position: relative;
  margin-left: 16px;
}
.chat-conversation .conversation-list .ctext-wrap-content:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-right-color: rgba(91, 115, 232, 0.1);
  border-top-color: rgba(91, 115, 232, 0.1);
  left: -10px;
  top: 0;
}
.chat-conversation .conversation-list .conversation-name {
  margin-bottom: 4px;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-12 {
  font-size: 12px !important;
}

.chat-conversation .right .conversation-list {
  float: right;
  text-align: right;
}
.chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  background-color: #d3f6ec;
  text-align: right;
  border-radius: 8px 0 8px 8px;
  margin-left: 0;
  margin-right: 16px;
  color: #000;
}
.chat-conversation .right .conversation-list .ctext-wrap-content:before {
  content: "";
  border: 5px solid transparent;
  border-top-color: #f5f6f8;
  border-left-color: #f5f6f8;
  left: auto;
  right: -10px;
}
.chat-input {
  background-color: #f5f6f8 !important;
  border-color: #f5f6f8 !important;
  border-radius: 10px;
}
.chat-input-section {
  border-top: 1px solid #f5f6f8;
}

.w-md {
  min-width: 110px;
}
.icon-upload {
  cursor: pointer;
}
.input-files {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
/* .chat-footer {
  background-color: #fff;
  border-top: 1px solid #e0e3e4;
  padding: 10px 15px;
  position: relative;
}
.chat-footer .input-group {
  width: 100%;
}
.chat-footer .input-group .form-control {
  background-color: #f5f5f6;
  border: none;
  border-radius: 50px;
}
.chat-footer .input-group .input-group-append .btn.msg-send-btn {
  background: linear-gradient(to right,#8971ea,#7f72ea,#7574ea,#6a75e9,#5f76e8);
  background: -webkit-linear-gradient(to right,#8971ea,#7f72ea,#7574ea,#6a75e9,#5f76e8);
  border-color: #2962ff;
  border-radius: 50%;
  color: #fff;
  margin-left: 10px;
}
.input-group-prepend {
  margin-right: -1px;
}
.input-group-prepend {
  display: -ms-flexbox;
  display: flex;
}
.chat-footer .input-group .input-group-prepend .btn, .chat-window .chat-cont-right .chat-footer .input-group .input-group-append .btn {
  background-color: transparent;
  border: none;
  color: #9f9f9f;
}
.btn-file {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  justify-content: center;
  overflow: hidden;
  padding: 0 0.75rem;
  position: relative;
  vertical-align: middle;
} */
.status {
  background-color: #FDF6B2;
  border: 1px solid #FACA15;
  color: #FACA15;
  border-radius: 18px;
  display: inline-block;
  padding: 4px 20px;
}
.btn-closed-ticket {
  background-color: #FBB7B7;
  border: 1px solid #E21C1C;
  color: #E21C1C;
  border-radius: 18px;
  display: inline-block;
  padding: 6px 35px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.btn-closed-ticket:hover {
  background-color: #E21C1C;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.btn-closed {
  background-color: #E21C1C;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 22px;
  display: inline-block;
  padding: 6px 47px;
}
.btn-continue {
  background-color: #117C72;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 22px;
  display: inline-block;
  padding: 6px 25px;
}
.review {
  background-color: #dfdfdf;
  height: 150px;
}
.btn-send {
  background-color: #117C72;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 22px;
  display: inline-block;
  padding: 6px 60px;
}

/*==================== Media Query ====================*/
@media (min-width: 768px) {
  .search-banner .container {
    max-width: 720px;
  }
  .search-banner.has-bg .bg-cover {
    background-position-y: -182px;
    transition: ease-in-out 0.5s;
  }
}
@media (max-width: 991.98px) {
  /* .search-banner {
    padding: 60px 0 30px;
  }
  .search-banner .input-group {
    margin-bottom: 15px;
  }
  .search-banner .form-control {
    height: 40px;
  } */
}

/*==================== Form Tiket Pages ====================*/
.card-head {
  border: 1px solid #117C72;
}
.card-form {
  border: 1px solid #117C72;
}
.btn-clear {
  background-color: #FBB7B7;
  border: 1px solid #E21C1C;
  color: #E21C1C;
  border-radius: 18px;
  display: inline-block;
  padding: 6px 35px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.btn-clear:hover {
  background-color: #E21C1C;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.btn-submit{
  background-color: #81DCD3;
  border: 1px solid #117C72;
  color: #117C72;
  border-radius: 18px;
  display: inline-block;
  padding: 6px 35px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.btn-submit:hover {
  background-color: #117C72;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/*==================== Verification Pages ====================*/
.btn-verification {
  background-color: #117C72;
  color: #FFFFFF;
  border-radius: 22px;
  display: inline-block;
  padding: 6px 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
.btn-verification:hover{
  background-color: #FFFFFF;
  color: #117C72;
  border: 2px solid #117C72;
  border-radius: 22px;
  display: inline-block;
  padding: 6px 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}