@import url("../css/style.css");

@font-face {
    font-family: InterBold;
    src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: InterRegular;
    src: url(../fonts/Inter-Regular.ttf);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterBold;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterBold;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterBold;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterBold;
}

h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterBold;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterBold;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterRegular;
    margin-bottom: 0;
}

a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-font);
    font-family: InterRegular;
    margin-bottom: 0;
}