body {
    font-family: InterRegular;
}

.header.navbar-default {
    background: var(--color-white);
    box-shadow: 0 0 50px rgba(0,0,0,.15);
    height: 65px;
}

.header.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header {
    border: none;
    padding: 5px 0;
    z-index: 1030;
    transition: all .2s linear;
}

.img-logo {
    width: auto;
    height: 55px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-text{
    margin-left: 10px;
    margin-bottom: 0px;
}

.custom-container {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    text-align: center; 
}

.btn-primary {
    background-color: var(--color-quaternary);
    border-radius: 10px;
    border: 1.5px solid var(--color-primary);
    width: 150px;
    font-family: InterBold;
    font-weight: 500;
    transition: background-color 0.3s ease;
    color: var(--color-font);
}

.btn-primary:hover {
    background-color: var(--color-primary);
    border: 1.5px solid var(--color-quaternary);
    color: var(--color-white);
}

.banner {
    position: relative;
    margin-top: 65px;
}

.img-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    filter: brightness(0.5);
}

.d-flex {
    width: 60%;
    height: 50px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner-text-search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--color-white) !important;

}

.section-faq{
    background-color: var(--color-white);
    width: 100%;
    height: 500px;
}

.container-faq {
    padding: 70px;
}

.accordion {
    color: var(--color-white);
    background-color: var(--color-white);
    
}

.accordion-item {
    /* border-radius: 10px; */
    border: 1px solid var(--color-dark-gray);
}

.accordion-header {
    border: var(--color-dark-gray);
    font-family: InterBold;
    background-color: var(--color-quinary);
}

.accordion-header .data-bs-toggle {
    font-family: InterBold;
    color: var(--color-quinary);
}

.accordion-botton {
    background-color: var(--color-quaternary);
}

.section-tiket {
    width: 100%;
    height: 300px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.tiket-container {
    margin: auto;
}