/*==================== Font ====================*/
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: InterMBold;
  src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: InterRegular;
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: NunitoSansRegular;
  src: url(../fonts/NunitoSans_10pt-Regular.ttf);
}
@font-face {
  font-family: NunitoSansBold;
  src: url(../fonts/NunitoSans_10pt-Bold.ttf);
}
@font-face {
  font-family: NunitoSansSemiBold;
  src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
}
@font-face {
  font-family: NunitoSansExtraBold;
  src: url(../fonts/NunitoSans_10pt-ExtraBold.ttf);
}
@font-face {
  font-family: NunitoSansLight;
  src: url(../fonts/NunitoSans_10pt-Light.ttf);
}
@font-face {
  font-family: Gilroy-Black;
  src: url(../fonts/Gilroy-Black.ttf);
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(../../fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Gilroy-Light;
  src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-SemiBold;
  src: url(../fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: Gilroy-Regular;
  src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: UniformRounded-Black;
  src: url(../fonts/UniformRounded-Black.otf);
}
@font-face {
  font-family: UniformRounded-Bold;
  src: url(../fonts/UniformRounded-Bold.otf);
}
@font-face {
  font-family: UniformRounded-Medium;
  src: url(../fonts/UniformRounded-Medium.otf);
}
@font-face {
  font-family: UniformRounded-Black;
  src: url(../fonts/UniformRounded-Regular.otf);
}

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Ubah Warna favorit */
  --hue-color: 173;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 76%, 28%);
  --first-color-second: hsl(var(--hue-color), 58%, 33%);
  --first-color-alt: hsl(var(--hue-color), 92%, 20%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 32%);
  --text-color-light: hsl(var(--hue-color), 8%, 55%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color2: #fafbfc;
  --body-color: #fafbfe;
  --container-color: #fff;
  --container-color-light: #f2f3f4;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 60%);
  --scroll-thumb-hover-color: hsl(var(--hue-color), 8%, 50%);

  /*========== Font and typography ==========*/
  --body-font: NunitoSansRegular;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.813rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --h5-font-size: 1rem;
    --h6-font-size: 0.938rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  background-color: var(--container-color) !important;
  color: var(--text-color) !important;
}
body.page-wrapper {
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}

/* ==================== Login Pages==================== */
.login__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/bg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: 100%;
}
.panel__login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#panel-login {
  background-color: hsla(0, 0%, 0%, 0.425);
  border-radius: 20px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1.25px solid rgba(255, 255, 255, 0.192) !important;
}
#panel-login .card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192) !important;
}
#panel-login .logo-title {
  font-family: InterBold;
  font-size: var(--h2-font-size);
  color: #ffffff;
  line-height: 1.2;
}
#panel-login .logo-subtitle {
  font-size: var(--small-font-size);
  color: #ffffff;
}
#panel-login .txt-login {
  font-family: InterBold;
  font-size: var(--h3-font-size);
  color: #ffffff;
}
#panel-login .txt-desc {
  font-size: var(--small-font-size);
  color: #ffffff;
}
#panel-login .form-control-custom {
  color: var(--title-color) !important;
  border-radius: 12px;
  background-color: var(--input-color);
  transition: all 0.5s ease;
}
#panel-login .card-body button {
  background-color: var(--first-color);
}
#panel-login .card-body button:hover {
  background-color: var(--first-color-alt);
}
.form-floating-custom label.label_nip::after,
.form-floating-custom label.label_pass::after {
  background-color: transparent !important;
}
.form-floating-custom .form-floating-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  width: 56px;
  color: var(--title-color);
}
.form-floating-custom > .form-control {
  padding-left: 60px !important;
}
.form-floating-custom > label {
  left: 48px !important;
}
.form-floating-custom span.eye {
  position: absolute;
  font-size: 20px;
  right: 15px;
  display: flex;
  transform: translateY(-50%);
  top: 50%;
  transition: 0.4s ease-in-out;
}
.form-floating-custom span.eye i {
  cursor: pointer;
  color: var(--text-color-light);
}
.hidden {
  display: none !important;
}
.show {
  display: inline-block;
}
.show-hide{
  cursor: pointer;
}

/*==================== FAQ Pages ====================*/
/* .wrapper {
  height: 100vh;
  overflow: auto;
} */
.navbar{
  padding: 10px !important;
}
.navbar.shadowNavbar {
  box-shadow: 0px 4px 10px rgba(69, 69, 69, 0.08) !important;
}
.navbar .header-logo {
  display: flex;
  align-items: center;
}
.navbar .header-logo a {
  display: flex;
  align-items: center;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.brand-text {
  font-family: InterBold;
  font-size: 1.125rem;
  color: var(--title-color);
}
.brand-text small {
  font-family: InterRegular;
  display: block;
  font-size: 0.625rem;
}
.navbar .nav-item .nav__notif {
  font-size: 1.375rem;
}
.navbar .nav-item .nav__notif .badge {
  font-size: 0.625rem;
  left: 10px;
  top: 0px;
  border: 2px solid #fff;
}
.navbar .nav-item .nav__notif .bell {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.navbar .nav-item .account-container.login {
  border: 0;
  width: 100%;
  height: 38px;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--small-font-size);
  padding: 6px 25px;
}
.navbar .nav-item .account-container {
  height: auto;
  padding: 4px;
  border-radius: 30px;
  background-color: var(--container-color);
  border: 1px solid var(--first-color);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.navbar .nav-item .account-container img {
  padding: 2px;
}
.navbar .nav-item .account-container .user-name {
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--title-color);
}
.navbar .nav-item .dropdown-item:active#logout{
  color: var(--text-color);
  background-color: #f8f8f8;
}
.navbar .nav-item .dropdown-item#logout,
.navbar .nav-item .dropdown-item#logout .unicon{
  color: #fd5353;
  fill: #fd5353;
}
.custom-rounded {
  background-color: var(--container-color);
  border-radius: 8px !important;
  box-shadow: 0px 4px 22px rgb(69 69 69 / 8%) !important;
  transform: translate(0px, 11px);
}
.custom-rounded li a.dropdown-item,
.custom-rounded .noti-body .dropdown-item {
  color: var(--title-color);
  font-family: InterRegular;
  font-size: var(--small-font-size);
}
.custom-rounded li a.dropdown-item:hover,
.custom-rounded .noti-body .dropdown-item:hover {
  background-color: #f8f8f8;
}
.custom-rounded .notify-all.dropdown-item,
.custom-rounded .notify-all.dropdown-item:hover {
  background-color: transparent;
}
.custom-rounded li .dropdown-divider {
  border-color: #f1f1f1;
}
.dropdown-menu.dropdown-menu-end{
  transform: translate(0, 13px);
}
.dropdown-menu.dropdown-menu-end#settings{
  transform: translate(0, 15px);
}
.dropdown-menu.dropdown-menu-center {
  transform: translate(-58%, 13px);
}
.custom-rounded.notification {
  width: 345px;
}
.notification .dropdown-item.noti-title {
  background-color: transparent;
  padding: 15px 20px;
}
.notification .dropdown-item.noti-title h5 {
  font-size: var(--normal-font-size);
  font-weight: 700;
}
.notification .dropdown-item.noti-title h5 span {
  font-size: var(--small-font-size);
  font-weight: 500;
}
.notification .noti-body {
  max-height: 232px;
  overflow: hidden auto;
}
.notification .notify-item {
  padding: 10px 20px;
}
.notification .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  margin-right: 10px;
  border-radius: 50%;
  color: #fff;
}
.notification .notify-item p.notify-details {
  font-size: var(--small-font-size);
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: normal;
}
.custom-rounded .notify-item .notify-details small {
  display: block;
}
.search-banner {
  padding: 120px 0 60px;
}
.search-banner.has-bg {
  position: relative;
  overflow: hidden;
  color: var(--title-color);
}
.search-banner.has-bg .bg-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../img/bg-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  transition: ease-in-out 0.5s;
}
.search-banner.has-bg .container {
  position: relative;
}

.search-banner h1 {
  color: #fff;
  font-family: NunitoSansExtraBold;
  font-size: var(--h1-font-size);
  text-align: center;
  margin: 10px 0 20px;
  text-shadow: 5px 5px 15px rgb(0, 0, 0);
}
.search-banner .input-group {
  margin-bottom: 30px;
}
.search-banner .form-control {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  border: none;
  height: 46px;
  border-radius: 6px;
}
.search-banner .form-control:focus {
  box-shadow: none !important;
}
.search-banner .btn {
  background: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--text-color);
  border-radius: 6px;
  border: none;
}
.search-banner .btn:active {
  background: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--first-color);
  border-radius: 6px;
  border: none;
}
.search-banner .btn:hover {
  color: var(--first-color);
  font-weight: 600;
}
.create-tiket {
  display: none;
}

.btn-create-ticket {
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  padding: 10px 30px;
  border: 1px solid var(--first-color);
  border-radius: 10px;
  transition: all 0.2s;
  text-decoration: none;
}
.btn-create-ticket:hover {
  background-color: var(--first-color);
  transform: translateY(-5px);
  color: #fff;
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
}
.btn-create-ticket:active {
  transform: translateY(-3px);
}
.btn-create-ticket::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.footer {
  background-color: #fafbfe;
}
.footer p,
.footer .nav-link {
  color: var(--text-color-light);
}
.accordion-custom .accordion-item {
  border: none !important;
  border-radius: 1.25rem !important;
}
.accordion-custom .accordion-button.collapsed {
  background-color: var(--container-color) !important;
  border-radius: 1.25rem !important;
  color: var(--title-color) !important;
}
.accordion-custom .accordion-button.collapsed::after {
  filter: none;
}
.accordion-custom .accordion-button::after {
  filter: brightness(0) invert(1);
}
.accordion-custom .accordion-button {
  background-color: var(--first-color-alt) !important;
  color: #fff !important;
  border-radius: 1.25rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.accordion-custom .accordion-button:focus {
  box-shadow: none !important;
}
.accordion-shadow {
  box-shadow: 0rem 0.3125rem 0.3125rem 0rem hsl(173deg 25% 33% / 5%);
}
.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 2px solid #adb5bd;
  border-radius: 50%;
  color: #adb5bd;
}


/*==================== Sweetalert Custom ====================*/
.swal2-popup {
  border-radius: 20px;
  font-size: 0.825rem;
}
.swal2-title {
  font-family: NunitoSansExtraBold;
  font-size: var(--h3-font-size);
  font-weight: 600;
  color: var(--title-color);
}
.swal2-html-container {
  margin-top: 6px !important;
}
.swal2-confirm {
  min-width: 100px;
  border-radius: 20px !important;
}
.swal2-cancel {
  min-width: 100px;
  border-radius: 20px !important;
}

/*==================== Media Query ====================*/
@media (min-width: 768px) {
  .search-banner .container {
    max-width: 720px;
  }
  .search-banner.has-bg .bg-cover {
    background-position-y: -182px;
    transition: ease-in-out 0.5s;
  }
}

/*==================== Rating Custom ====================*/
.rating {
  font-size: 24px;
  color: #ddd;
}

.uis-star {
  cursor: pointer;
}

.uis-star.active {
  color: gold;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="search"]:focus {
  border-color: var(--first-color) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px var(--first-color) !important;
  outline: 0 none !important;
  transition: 0.4s ease-in-out !important;
}



/*==================== Profile Pages ====================*/
.profile_page{
  min-height: 100vh;
  background-color: var(--body-color2);
}

.profile_page .card{
  border-radius: 12px;
  border: none;
  box-shadow: 2px 0px 20px rgb(69 69 69 / 8%);
}
.profile_page .card .background-cover{
  position: relative;
}
.profile_page .card .background-cover img{
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
  filter: brightness(0.7) blur(0.5px);
}
.profile_page .card .profile_image{
  position: relative !important;
  margin-top: -3rem;
  text-align: center;
}
.profile_page .card small,
.profile_page .card .status-ticket p{
  color: var(--text-color-light);
}
.profile_page .card .status-ticket p{
  font-size: var(--h6-font-size);
}
.card.detail_profile .card-title{
  font-family: NunitoSansExtraBold;
  letter-spacing: -0.75px;
}
.section-border{
  border-bottom: 1px solid rgba(128, 128, 128, 0.295) !important;
}
